@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Slab:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #19181C;
    font-family: 'Arial', sans-serif;
    color: #fff;
    min-width: 100vw;


}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #2C2A32;

    min-width: 400px;
    max-width: 90vw;

    padding: 40px 20px 20px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.messageInfo {
    font-weight: bold;

    color: #fff;  
    border-radius: 5px; 
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;  
    width: 100%;
    opacity: 1; 
    transition: opacity 3s ease-in-out, padding 3s ease-in-out; 
}




/* Štýl pre formulár na obnovenie hesla */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

input[type="email"] {
    background-color: #333;
    color: #fff;
    border: 2px solid #444;

    border: 2px solid #444;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    font-size: 14px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="email"]:hover {
    background-color: #444;
    border-color: #55aaff;
}

input[type="email"]:focus {
    background-color: #444;
    border-color: #4c63af;
    outline: none;
}

/* Tlačidlo pre obnovenie hesla */
button {
    background-color: #4c63af;
    color: white;
    margin-top: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

button:hover {
    background-color: #374c91;
    transform: translateY(-2px); 
}

/* Odkaz na stránku s prihlásením  */
a {
    display: block;
    margin-top: 20px;
    color: #55aaff;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #374c91;
}


@media(max-width: 400px){
    .container{
        min-width: 300px;
    }
}